$mainBackgroundBlue: #3a80ba;
$mainBackgroundDark: #1c3b55;
:root {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: $mainBackgroundBlue;

  height: 72px;
  left: 0px;
  top: 0px;
  color: #ffffff;
}
.allUsers {
  /* Style the list */
  .breadcrumb {
    padding: 4px 8px;
    list-style: none;

    /* Display list items side by side */
    li {
      display: inline;
      font-size: 16px;
    }

    /* Add a slash symbol (/) before/behind each list item */
    li + li:before {
      padding: 2px;
      color: black;
    }

    /* Add a color to all links inside the list */
    li a {
      color: #0275d8;
      text-decoration: none;
    }

    /* Add a color on mouse-over */
    li a:hover {
      color: #01447e;
      text-decoration: underline;
    }
  }
  table {
    width: 100%;
  }
}

ul {
  li {
    margin-left: 16px;
  }
}

.footer {
  background-color: $mainBackgroundDark;

  height: 57px;
  left: 0px;
  top: 843px;
  color: #ffffff;
}
